---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
	</head>
	<body>
		<style is:inline>
			a {
				display: block;
			}
		</style>
		<a href="/why-are-you-here">Default 404 behaviour</a>
		<a href="/blog/content">API Server responds 200</a>
		<a href="/blog/notfound">API Server responds 404</a>
		<a href="/blog/fail">API Server offline</a>
	</body>
</html>
